<ion-modal-view>
	<ion-header-bar class="bar-calm">
		<button class="button button-icon button-small fl ion-close-round" type="button" ng-click="modalClose()">
	    </button>
    </ion-header-bar>
    <ion-content ng-controller="ContactCtrl">
		<ul class="list">
			<li ng-repeat="contact in contacts">
				<a class="item" ng-click="onSelected(contact)">
					<span class="fl">{{contact.name.formatted}}</span>
					<span class="fr">{{contact.formatPhoneNum}}</span>
				</a>
			</li>
		</ul>
    </ion-content>
</ion-modal-view>
